# C build files.
*.o
*.out

# Local program files.
baseline
ring_allreduce

# gprof output file.
gmon.out

# benchmark outputs
bin/
obj/
results/

# Crash dump files.
core
core.*

# Python cache files.
__pycache__/
*.pyc

# macOS Finder file. It is not project code.
.DS_Store

# VS Code
.vscode/

# LaTeX aux files (keep .tex and .pdf)
*.aux
*.log
*.toc
*.out
*.synctex.gz
*.fls
*.fdb_latexmk
